body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(10,10,10,0.95), transparent);
    
}

.logo img {
    height: 55px;
}

.menu {
    color: black;
    text-decoration: none;
    display: flex;
    gap: 35px;
    transition: 3s;
    justify-content: space-between;
    align-items: center;
}


.hamburguesa {
    display: none;
    font-size: 25px;
    cursor: pointer;
    color: #C9A227;
    
}

.hero {
    height: 80vh;
    margin-top: 75px;
    padding: 50px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;         
    background: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)), url("https://images.unsplash.com/photo-1560518883-ce09059eeffa");
    background-size: cover;
    background-position: center;
}

.hero-text {
    color: #f4c1188d;
    max-width: 400px;
    text-align: center;
}

.buscador {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #C9A227;
    padding: 2rem 4rem;
}

.buscador form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}


.propiedades {
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.propiedades h3 {
    width: 100%;
}

.btn {
    background-color: #C9A227;
    color: black;
    border-radius: 6px;
    padding: 5px 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    display: inline-block;
}

.btn:hover {
    background-color: black;
    color: #C9A227;
}
.card {
    
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    flex: 1 1 250px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.contacto form {
    max-width: 400px;
    margin: 20px auto;
    background:white ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.contacto {
    padding: 20px;
    text-align: center;
}

.contacto input, .contacto textarea {
    padding: 10px;
    border: 1px solid #C9A227;
    border-radius: 5px;
  
    
}

.nosotros{
    text-align: center;

}


.footer {
    background: #282828;
    color: #C9A227;
    padding: 15px;
    text-align: center;
}
.redes a{
    color: #C9A227;
    margin: 0 10px;
    font-size: 20px;
    transition: .3s;
    text-align: center;
}

.redes a:hover{
    color:black;
}

.login{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),  url("https://images.unsplash.com/photo-1560518883-ce09059eeffa");
    background-size: cover;
    background-position: center;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-container input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #C9A227;
    border-radius: 5px;
}
    
.login-container input:focus{
    outline: none;
    border: solid #C9A227;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #C9A227;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.recuperar {
    text-align: right;
    margin-bottom: 10px;
}

.recuperar a {
    font-size: 10px;
    color: #C9A227;
    text-decoration: none;
}

.recuperar a:hover {
    text-decoration: underline;
    color: black;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background: #282828;
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        padding: 20px;
    }

    .menu--open {      
        display: flex;
    }
    
    .hamburguesa {
        display: block;
        padding: 20px 0;
    }

        .hero {
            justify-content: center;
            text-align: center;
            height: 60vh;
            padding: 20px;
        }
        
        .hero-text {
            max-width: 100%;
            text-align: center;
        }


        .buscador form {
            flex-direction: column;
        }

        .propiedades {
            flex-direction: column;
        }   

        .card {
            flex: 1 1 100%;
        }

        .contacto form {
            width: 90%;
        }

        .login{
            padding: 20px;
        }
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px;
    padding: 30px;
    margin: 0 auto;
    
    

}

.card-propiedad {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;  
}

.card-propiedad:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}   

.imagen {
    position: relative;
    overflow: hidden;
}

.imagen img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-propiedad:hover .imagen img {
    transform: scale(1.1);
}

.badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #C9A227;
    color: black;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}   

.contenido {
    padding: 20px;
    text-align: left;
}

.ubicacion {
    font-size: 14px;
    margin: 5px 0;
}

.contenido h2 {
    margin: 10px 0;
    font-size: 18px;
}

.precio {
    color: #C9A227;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}   

.descripcion {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}   

.caracteristicas {
    display: flex;
    gap: 15px;
    font-size: 14px;
    color: #555;
    flex-wrap: wrap;
    margin-bottom: 15px;
} 

.caracteristicas div {
    display: flex;
    align-items: center;
    gap: 5px;
}   

.caracteristicas i{
    color: #C9A227;
}

.btn-contacto {
    width: 100%;
    padding: 10px;
    background: #C9A227;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.03s;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.btn-contacto:hover {
    background: black;
    color: #C9A227;
    box-shadow: 0 8px 18px rgba(0,0,0,0.3);
}   


header {
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(10,10,10,0.95), transparent);
}

.titulo-seccion {
    text-align: center;
    margin: 40px 0 20px;
    font-size: 28px;
    color: #C9A227;
    padding: 60px;
}

.buscador-propiedades h3 {
    margin-bottom: 20px;
    text-align: center;
    
}

.buscador-propiedades form {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
     
}

.buscador-propiedades form select, 
.buscador-propiedades form input {
    padding: 10px;
    border: 1px solid #C9A227;
    border-radius: 5px;
    
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 100;
}

.whatsapp-float img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}

.whatsapp-float:hover img {
    transform: scale(1.1);
}